{% extends 'base.html' %}


{% block head %}
<title><h1>Dark Castle</h1></title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to Dark Castle!</h1>
    <table>
        <tr>
            <th>Moves</th>
            <th>Score</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br>
    <p>Adventure Text:</p>
    <p>{{ output }}</p>
    <br>
    <p>Enter your command:</p>
    <form method="post" action=".">
        <p><input name="player_command" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
{% endblock %}

